/* Add this to your global CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
  transition: background-color 0.4s ease, color 0.4s ease;
}

:root {
  --table-bg: #ffffff;
  --table-header-bg: #f4f4f4;
  --table-text: #000000;
  --button-bg: #0D3483;
}

[data-theme='dark'] {
  --table-bg: #1E1E1E;
  --table-header-bg: #2A2A2A;
  --table-text: #ffffff;
  --button-bg: #4478f2;
}


html,
body {
  /* height: 100%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter,Roboto,Helvetica,Arial,sans-serif';
  /* transition: background-color 0.4s ease, color 0.4s ease; Apply transition to body */
}

h1, h2 {
  font-family: 'Inter','Playfair Display', serif;
}

p {
  font-family: 'Inter','Playfair Display', serif;
}
main {
  width: 100%;
  /* min-height: 100vh; */
}
.blog-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}
